body, html {
    height: 100%;
    }
    .bg {
    background-image: url("./im.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .content {
        margin-top: 200px;
        padding: 12px;
        justify-content: center;
        align-items: center;
    }

    .bg-myRed{
        background-color: red;
    }

    .bg-myBlack {
        background-color: black;
    }